{% extends "base.html" %}

{% block title %}Pay by credit card{% endblock %}

{% block container %}
  <form action="." id="payment" method="post">
      <input type="hidden" id="nonce" name="payment_method_nonce" value="">
      {% csrf_token %}
      <input type="submit" value="Pay">  
  </form>
  <div id="dropin-container"></div>
  <button id="submit-button">Request payment method</button>
  <script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
  <script>
    var button = document.querySelector('#submit-button');
    braintree.dropin.create({
      authorization: '{{ client_token }}',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          console.log("Submit payload.nonce to your server");
          document.getElementById('nonce').value = payload.nonce;
          document.getElementById('payment').submit();
        });
      });
    });
  </script>
{% endblock %}